
/*
************* Common ****************/
html,body{
    height: 100%;
}
.content{
    max-width: 60%;
    height: 100%;
    margin: auto;
    border-left: 1px solid  rgba(8, 192, 238, 0.959);
    border-right: 1px solid  rgba(8, 192, 238, 0.959);
}

    
/***********TITLE***************/
 #title{
     
     display: flex;
     margin: 0 auto;
     max-width: 60%;
     height: 7%;
     border-bottom: rgba(204, 204, 204, 0.5);
     border-left: 1px solid rgba(8, 192, 238, 0.959);
     border-right: 1px  solid rgba(8, 192, 238, 0.959);
 }

 h1{
     
     font-size: 40px;
     font-style: oblique;
     font-weight: bolder;
     margin-top: 0px;
 }
.First-logo{
    padding: auto;
}

/*
************POST***************/

.post_form { 
    padding: 20px 40px;
    border-bottom: 1px solid rgba(8, 192, 238, 0.959);

}

.post_form input {
    width: 70%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid green;
    background-color: lightskyblue;
}

.post_form textarea {
    width: 70%;
    padding: 10px;
    border: 1px solid rgba(8, 192, 238, 0.959);
}

.posts ul {
    padding:0;

}
.posts li {
    display: flex;
    border: 1px solid rgba(8, 192, 238, 0.959);
    padding: 20px 40px;
    list-style: none;
    position: relative;
}
.posts li .menu_icon {
    width : 20px;
    position: absolute;
    top: 10px;
    right: 10px;

}

.posts li .menu{
    display: none;
    position: absolute;
    top: 40px;
    right: 15px;
    border: 1px solid #ccc;
    background-color: white;
    padding: 10px 15px;
    border-radius: 3px;
}

.posts li .menu a {
    text-decoration: none;
}

.posts li .logo{
    flex-basis: 15%;
}

.posts li .logo img{
    width: 60%;
}

.posts li .likes img{
    width: 10%;
}
 .posts li .name_body{
     flex-basis: 85%;
 }

 .posts li .name_body .name{
    font-weight: bold;
    font-size: 25px;
}
.posts li .name_body .datetime{
    font-weight: gray;
}

p{
    font-weight: bold;
}



@media screen and (max-width :500px){
    .posts li .name_body .name{
        font-size: 20px;
    }
}



.but{
    margin-left: 40%;
    margin-right: 40%;
}

.pic-browse{
    margin-right: 300px;
}